.login {
  width: 100%;
  padding: 0 2.7rem;
}

form {
  display: flex;
  flex-direction: column;
}

form .div-input{
  display: flex;
  flex-direction: column;

}

form .label{
  display: flex;
  margin-bottom: 1rem;
}